* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'sans-serif';
}

html,
body,
#root {
  background-color: #fff;
  height: 100%;
}

/* @media (max-width: 600px) {

  body {
    display: flex;
    justify-content: center;
    width: 100%;
  }
} */